@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-sans: Nunito Sans, Nunito Sans Fallback;
		/* --font-mono: here if you got it... */

		/* prefixed with foreground because it should look good on the background */
		/* --foreground-danger: 345 82.7% 40.8%;

		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--input-invalid: 0 84.2% 60.2%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 90%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%; */
		--primary: 25.7 100% 50%; /* HSL */
		--primary-hex: #FF7B02; /* HEX */
		--primary-foreground: 25.7 100% 100%;
	  
		--background: 25.7 100% 100%; /* HSL */
		--background-hex: #FFD9B2; /* HEX */
	  
		--foreground: 25.7 100% 5%; /* HSL */
		--foreground-hex: #0E0300; /* HEX */
	  
		--muted: 25.7 60% 80%; /* HSL */
		--muted-hex: #FFAA73; /* HEX */
	  
		--muted-foreground: 25.7 60% 20%; /* HSL */
		--muted-foreground-hex: #331000; /* HEX */
	  
		--popover: 25.7 100% 95%; /* HSL */
		--popover-hex: #FFD9B2; /* HEX */
	  
		--popover-foreground: 25.7 100% 5%; /* HSL */
		--popover-foreground-hex: #0E0300; /* HEX */
	  
		--card: 25.7 100% 95%; /* HSL */
		--card-hex: #FFD9B2; /* HEX */
	  
		--card-foreground: 25.7 100% 5%; /* HSL */
		--card-foreground-hex: #0E0300; /* HEX */
	  
		--border: 0 0% 90%; /* HSL */
		--border-hex: #E6E6E6; /* HEX */
	  
		--input: 0 0% 90%; /* HSL */
		--input-hex: #E6E6E6; /* HEX */
	  
		--input-invalid: 25.7 100% 50%; /* HSL */
		--input-invalid-hex: #FF7B02; /* HEX */
	  
		--secondary: 25.7 60% 80%; /* HSL */
		--secondary-hex: #FFAA73; /* HEX */
	  
		--secondary-foreground: 25.7 100% 5%; /* HSL */
		--secondary-foreground-hex: #0E0300; /* HEX */
	  
		--accent: 25.7 60% 70%; /* HSL */
		--accent-hex: #FF8F42; /* HEX */
	  
		--accent-foreground: 25.7 100% 5%; /* HSL */
		--accent-foreground-hex: #0E0300; /* HEX */
	  
		--destructive: 25.7 100% 50%; /* HSL */
		--destructive-hex: #FF7B02; /* HEX */
		--destructive-foreground:  0 100% 50%;
	  
		--ring: 25.7 70% 60%; /* HSL */
		--ring-hex: #FF963D; /* HEX */

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		/* prefixed with foreground because it should look good on the background */
		--foreground-danger: -4 84% 60%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--input-invalid: 0 62.8% 30.6%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--accent: 217.2 32.6% 10%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 217.2 32.6% 17.5%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
